{% extends 'base.hw.html.twig' %}

{% block body %}
    {% if new == true %}
        <div>{{ 'users.new' | trans }}</div>
    {% else %}
        <div>{{ 'users.%id%.edit' | trans({'%id%': id}) }}</div>
        <div>{{ 'users.edit.password' | trans }}</div>
    {% endif %}
    {{ form_start(form) }}
    {{ form_end(form) }}
    <div>
        {{ form_errors(form) }}
    </div>
{% endblock %}