{% extends 'base.hw.html.twig' %}

{% block body %}
    <div class="center-block">
        {% for flashMessage in app.session.flashbag.get('notification') %}
            {{ flashMessage.id | trans(flashMessage.parameters) }}
        {% endfor %}
    </div>
    <form action="{{ path('user_new') }}" method="get">
        <input type="submit" value="{% trans %}new.user{% endtrans %}"/>
    </form>
    <div id="table">
        {% if users|length == 0 %}
            {% trans %}users.zerofound{% endtrans %}
        {% else %}
            <table class="table table-striped table-bordered">
                <tr>
                    <th scope="col">{% trans %}table.users.id{% endtrans %}</th>
                    <th scope="col">{% trans %}table.users.username{% endtrans %}</th>
                    <th scope="col">{% trans %}table.actions{% endtrans %}</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>
                            {{ user.id }}
                        </td>
                        <td>
                            <a href="{{ path('user_show', {'id': user.id }) }}">{{ user.userName }}</a>
                        </td>
                        <td nowrap>
                            <form action="{{ path('user_edit', {'id': user.id}) }}" method="post">
                                <input type="submit" value="{% trans %}table.actions.edit{% endtrans %}"/>
                            </form>
                            <form action="{{ path('user_delete', {'id': user.id}) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE"/>
                                <input type="submit" value="{% trans %}table.actions.delete{% endtrans %}"/>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}