{% extends 'base.hw.html.twig' %}

{% block body %}
    <table class="table table-striped table-bordered">
        <tr>
            <td>{% trans %}table.users.id{% endtrans %}</td>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <td>{% trans %}table.users.username{% endtrans %}</td>
            <td>{{ user.userName }}</td>
        </tr>
        <tr>
            <td>{% trans %}table.users.role{% endtrans %}</td>
            <td>{{ user.role }}</td>
        </tr>
        <tr>
            <td>{% trans %}table.users.email{% endtrans %}</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>{% trans %}table.users.firstname{% endtrans %}</td>
            <td>{{ user.firstName }}</td>
        </tr>
        <tr>
            <td>{% trans %}table.users.lastname{% endtrans %}</td>
            <td>{{ user.lastName }}</td>
        </tr>
        <tr>
            <td>{% trans %}table.users.createdat{% endtrans %}</td>
            <td>{{ user.createdAt|date }}</td>
        </tr>
        <tr>
            <td>{% trans %}table.users.updatedat{% endtrans %}</td>
            <td>{{ user.updatedAt|date }}</td>
        </tr>
    </table>
{% endblock %}