<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>
        {% block title %}
            {% trans %}title.main_page{% endtrans %}
        {% endblock %}
    </title>
    {% block stylesheets %}
        <link href="{{ asset('assets/bootstrap/3.3.7-dist/css/bootstrap.css') }}" rel="stylesheet"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% include 'navbar.html.twig' %}
<div class="jumborton" style="padding-top: 65px">
    {% block body %}
        <div id="hi">
            {% trans %}main.greetings{% endtrans %}
            <b>
                {% if is_granted("ROLE_ADMIN") %}
                    {% trans %}table.users.role.admin{% endtrans %}
                {% elseif is_granted("ROLE_AUTHOR") %}
                    {% trans %}table.users.role.author{% endtrans %}
                {% elseif is_granted("ROLE_USER") %}
                    {% trans %}table.users.role.user{% endtrans %}
                {% else %}
                    {% trans %}main.user{% endtrans %}
                {% endif %}
            </b>
        </div>
        <div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% trans %}main.advice{% endtrans %}
            {% else %}
                {% trans %}main.advice.login{% endtrans %}
            {% endif %}
        </div>
    {% endblock %}
</div>
{% include 'footer.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('assets/jquery/3.3.1/jquery.js') }}"></script>
    <script src="{{ asset('assets/bootstrap/3.3.7-dist/js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>
