<footer class="footer page-footer font-small teal pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="font-weight-bold">{% trans %}footer.title{% endtrans %}</h5>
            </div>

            <div class="col-md-6 mb-md-0 mb-3">
                <h5 class="font-weight-bold">{% trans %}footer.credits{% endtrans %}</h5>
            </div>
        </div>
    </div>
</footer>