<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('main_index') }}">{% trans %}navbar.main{% endtrans %}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <ul class="nav navbar-nav">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('user_index') }}">{% trans %}navbar.users{% endtrans %}</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_AUTHOR') %}
                        <li><a href="{{ path('post_index') }}">{% trans %}navbar.posts{% endtrans %}</a></li>
                    {% endif %}
                    <li><a href="{{ path('post_list') }}">{% trans %}navbar.postsw{% endtrans %}</a></li>
                </ul>
                <form class="navbar-form navbar-left" action="{{ path('post_search_category') }}">
                    <button type="submit" class="btn btn-default">{% trans %}navbar.search.button{% endtrans %}</button>
                    <div class="form-group">
                        <input type="text" id="search_slug" name="_search" class="form-control"
                               placeholder="{% trans %}navbar.search.input{% endtrans %}">
                    </div>
                </form>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{% trans %}language.select{% endtrans %}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% set route = app.request.attributes.get('_route') %}
                        {% set route_param = app.request.attributes.get('_route_params') %}
                        {% set route_param = route_param|merge({'_locale': 'en'}) %}
                        <li><a href="{{ path(route, route_param) }}">{% trans %}language.en{% endtrans %}</a></li>
                        {% set route_param = route_param|merge({'_locale': 'ru'}) %}
                        <li><a href="{{ path(route, route_param) }}">{% trans %}language.ru{% endtrans %}</a></li>
                        {% set route=false %}
                        {% set route_param=false %}
                    </ul>
                </li>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li><a href="{{ path('security_logout') }}">{% trans %}navbar.logout{% endtrans %}</a></li>
                {% else %}
                    <li><a href="{{ path('security_login') }}">{% trans %}navbar.login{% endtrans %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
