{% extends 'base.hw.html.twig' %}

{% block body %}
    {% if new == true %}
        <div>{{ 'posts.new' | trans }}</div>
    {% else %}
        <div>{{ 'posts.%id%.edit' | trans({'%id%': id}) }}</div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}