{% extends 'base.hw.html.twig' %}

{% block body %}
    <div class="center-block">
        {% for flashMessage in app.session.flashbag.get('notification') %}
            {{ flashMessage.id | trans(flashMessage.parameters) }}
        {% endfor %}
    </div>
    {% if is_granted('ROLE_AUTHOR') %}
        <form action="{{ path('post_new') }}" method="get">
            <input type="submit" value="{% trans %}new.post{% endtrans %}"/>
        </form>
    {% endif %}
    <div id="table">
        {% if posts|length == 0 %}
            {% trans %}posts.zerofound{% endtrans %}
        {% else %}
            <table class="table table-striped table-bordered">
                <tr>
                    <th scope="col">{% trans %}table.posts.id{% endtrans %}</th>
                    <th scope="col">{% trans %}table.posts.title{% endtrans %}</th>
                    <th scope="col">{% trans %}table.posts.description{% endtrans %}</th>
                    {% if withActions %}
                        <th scope="col">{% trans %}table.actions{% endtrans %}</th>
                    {% endif %}
                </tr>
                {% for post in posts %}
                    <tr>
                        <td>
                            {{ post.id }}
                        </td>
                        <td>
                            <a href="{{ path('post_show', {'id': post.id }) }}">{{ post.title }}</a>
                        </td>
                        <td>
                            {{ post.description }}
                        </td>
                        {% if withActions %}
                            <td>
                                <form action="{{ path('post_edit', {'id': post.id} ) }}" method="post">
                                    <input type="submit" value="{% trans %}table.actions.edit{% endtrans %}"/>
                                </form>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <form action="{{ path('post_delete', {'id': post.id} ) }}" method="post">
                                        <input type="hidden" name="_method" value="DELETE"/>
                                        <input type="submit" value="{% trans %}table.actions.delete{% endtrans %}"/>
                                    </form>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}