{% extends 'base.hw.html.twig' %}

{% block body %}
    <table class="table table-striped table-bordered">
        <tr>
            <td>{% trans %}table.posts.id{% endtrans %}</td>
            <td>{{ post.id }}</td>
        </tr>
        <tr>
            <td>{% trans %}table.posts.title{% endtrans %}</td>
            <td>{{ post.title }}</td>
        </tr>
        <tr>
            <td>{% trans %}table.posts.description{% endtrans %}</td>
            <td>{{ post.description }}</td>
        </tr>
        <tr>
            <td>{% trans %}table.posts.slug{% endtrans %}</td>
            <td>{{ post.slug }}</td>
        </tr>
        <tr>
            <td>{% trans %}table.posts.postat{% endtrans %}</td>
            <td>
                {% if post.postAt is null %}
                    {% trans %}table.posts.published{% endtrans %}
                {% else %}
                    {{ post.postAt|date }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>{% trans %}table.posts.author{% endtrans %}</td>
            {% if is_granted('ROLE_ADMIN') %}
                <td><a href="{{ path('user_show', {'id': post.author.id }) }}">{{ post.author.userName }}</a></td>
            {% else %}
                <td>{{ post.author.userName }}</td>
            {% endif %}
        </tr>
        <tr>
            <td>{% trans %}table.posts.createdat{% endtrans %}</td>
            <td>{{ post.createdAt|date }}</td>
        </tr>
        <tr>
            <td>{% trans %}table.posts.updatedat{% endtrans %}</td>
            <td>{{ post.updatedAt|date }}</td>
        </tr>
    </table>
{% endblock %}