{% extends 'base.hw.html.twig' %}

{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_row(form.username, {'full_name': '_username'}) }}
    {{ form_row(form.password, {'full_name': '_password'}) }}
    {{ form_row(form.remember_me, {'full_name': '_remember_me'}) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}

{% endblock %}